<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="pagination" style="text-align: center;margin-bottom: 2em">
    <div class="pagination">
        <ul class="pagination">
            <li th:if="${pages.hasPrevious()}" class="page-item">
                <a class="page-link" th:href="@{${path}(page=${pages.number-1},size=${pages.size})}">Previous</a></li>
            <th:block th:each="i: ${#numbers.sequence(0, pages.totalPages - 1)}">
                <li th:if="${pages.number == i}" class="page-item active">
                    <a class="page-link">[[${i}+1]]</a></li>
                <li th:unless="${pages.number == i}" class="page-item">
                    <a class="page-link" th:href="@{${path}(page=${i},size=${pages.size})}">[[${i}+1]]</a>
                </li>
            </th:block>
            <li th:if="${pages.hasNext()}" class="page-item">
                <a class="page-link" th:href="@{${path}(page=${pages.number+1},size=${pages.size})}">Next</a>
            </li>
        </ul>
    </div>
</nav>
</html>

<!--&& !pages.getSort().getOrders().get(0).property.equals('id')-->
<!--<li th:if="${pages.hasNext()}" class="page-item">-->
<!--<a class="page-link" th:href="@{${path}(page=${pages.number+1},size=${pages.size},-->
<!--order=(${!pages.getSort().getOrders().isEmpty()   ?-->
<!--pages?.getSort()?.getOrders()?.get(0)?.property + ',' + pages?.getSort()?.getOrders()?.get(0)?.direction.name : ''}))}">Next</a>-->
<!--</li>-->
